
<footer id="footer">

  <div class="container">

    <p>

      Created by

      <a href="javascript:straw.browser.open('http://app.kt3k.com/')"><i class="fa fa-globe"></i> app.kt3k.com</a>
      
    </p>

    <p>

      version v1.0.0 -

      <a href="javascript:window.common.openMarketLink();">
        <i class="fa fa-play"></i> <t>common.googleplay</t>
      </a>

    </p>

  </div>

</footer>
