
<div class="input-group input-group">

  <span class="input-group-addon ip-reload-button ip-indicator"><i id="ip-loading" class="fa fa-refresh fa-spin"></i></span>

  <input id="ip-input" onclick="this.select()" type="text" class="form-control t-attr" placeholder="t:common.loading" />

  <span class="input-group-addon">

      <img class="flag country-icon" />

  </span>

</div>
