---
title: My IP Address History
---

<div class="container">

<h2 class="page-title">IP Address History</h2>

  <div class="debug"></div>

</div>

{% include 'footer' %}

<script>

  $(function () {
      window.page.records.main().then(null, function (error) {
          console.log(error);
      });
  });

</script>

<script id="record-row" type="text/template">
</script>
